# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [ ]:
tup = 4, 5, 6
tup

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

In [ ]:
tuple([4, 0, 2])
tup = tuple('string')
tup

In [ ]:
tup[0]

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

In [ ]:
tup[1].append(3)
tup

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
('foo', 'bar') * 4

#### Unpacking tuples

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

tmp = a
a = b
b = tmp

In [ ]:
a, b = 1, 2
a
b
b, a = a, b
a
b

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

In [ ]:
a, b, *_ = values

#### Tuple methods

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

### List

In [ ]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

In [ ]:
gen = range(10)
gen
list(gen)

#### Adding and removing elements

In [ ]:
b_list.append('dwarf')
b_list

In [ ]:
b_list.insert(1, 'red')
b_list

In [ ]:
b_list.pop(2)
b_list

In [ ]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

In [ ]:
'dwarf' in b_list

In [ ]:
'dwarf' not in b_list

#### Concatenating and combining lists

In [ ]:
[4, None, 'foo'] + [7, 8, (2, 3)]

In [ ]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

In [ ]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

#### Binary search and maintaining a sorted list

In [ ]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

#### Slicing

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [ ]:
seq[3:4] = [6, 3]
seq

In [ ]:
seq[:5]
seq[3:]

In [ ]:
seq[-4:]
seq[-6:-2]

In [ ]:
seq[::2]

In [ ]:
seq[::-1]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [ ]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

#### sorted

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

#### zip

In [1]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [2]:
zipped

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

In [ ]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Curt', 'Schilling')]
first_names, last_names = zip(*pitchers)
first_names
last_names

#### reversed

In [ ]:
list(reversed(range(10)))

### dict

In [ ]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

In [ ]:
d1[7] = 'an integer'
d1
d1['b']

In [ ]:
'b' in d1

In [ ]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

In [ ]:
list(d1.keys())
list(d1.values())

In [ ]:
d1.update({'b' : 'foo', 'c' : 12})
d1

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [ ]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

#### Default values

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

value = some_dict.get(key, default_value)

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

#### Valid dict key types

In [ ]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

### set

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

### List, Set, and Dict Comprehensions

[

result = []
for val in collection:
    if

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

dict_comp = {

set_comp = {

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
set(map(len, strings))

In [ ]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

#### Nested list comprehensions

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [ ]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

## Functions

In [ ]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)