# Data Loading, Storage,

In [19]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

## Reading and Writing Data in Text Format

In [ ]:
!cat examples/ex1.csv

In [ ]:
df = pd.read_csv('examples/ex1.csv')
df

In [ ]:
pd.read_table('examples/ex1.csv', sep=',')

In [ ]:
!cat examples/ex2.csv

In [ ]:
pd.read_csv('examples/ex2.csv', header=None)
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

In [ ]:
!cat examples/csv_mindex.csv
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

In [ ]:
list(open('examples/ex3.txt'))

In [ ]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

In [ ]:
!cat examples/ex4.csv
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

In [ ]:
!cat examples/ex5.csv
result = pd.read_csv('examples/ex5.csv')
result
pd.isnull(result)

In [ ]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

### Reading Text Files in Pieces

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
result = pd.read_csv('examples/ex6.csv')
result

In [ ]:
pd.read_csv('examples/ex6.csv', nrows=5)

In [ ]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [ ]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [ ]:
tot[:10]

### Writing Data to Text Format

In [ ]:
data = pd.read_csv('examples/ex5.csv')
data

In [ ]:
data.to_csv('examples/out.csv')
!cat examples/out.csv

In [ ]:
import sys
data.to_csv(sys.stdout, sep='|')

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')

In [ ]:
data.to_csv(sys.stdout, index=False, header=False)

In [ ]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

In [ ]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

### Working with Delimited Formats

In [1]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [2]:
import csv
f = open('examples/ex7.csv')

reader = csv.reader(f)

In [4]:
for line in reader:
    print(line)
line

['1', '2', '3']

In [5]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [9]:
header, values = lines[0], lines[1:]
values
print(header)

['a', 'b', 'c']

In [14]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
print(zip(*values))

<zip object at 0x7fe508783680>

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)

reader = csv.reader(f, delimiter='|')

with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### JSON Data

In [15]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [16]:
obj

'\n{"name": "Wes",\n "places_lived": ["United States", "Spain", "Germany"],\n "pet": null,\n "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n              {"name": "Katie", "age": 38,\n               "pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [ ]:
import json
result = json.loads(obj)
result

In [ ]:
asjson = json.dumps(result)

In [ ]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

In [17]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [ ]:
data = pd.read_json('examples/example.json')
data

In [ ]:
print(data.to_json())
print(data.to_json(orient='records'))

### XML and HTML: Web Scraping

conda install lxml
pip install beautifulsoup4 html5lib

In [20]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [27]:
tables[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [28]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2001      4
2004      4
2003      3
2007      3
2000      2
Name: Closing Date, dtype: int64

In [30]:
close_timestamps.dt.year

0      2016
1      2016
2      2016
3      2016
4      2016
       ...
542    2001
543    2001
544    2001
545    2000
546    2000
Name: Closing Date, Length: 547, dtype: int64

#### Parsing XML with lxml.objectify

<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>

In [31]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [32]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [33]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [ ]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [ ]:
root
root.get('href')
root.text

## Binary Data Formats

In [ ]:
frame = pd.read_csv('examples/ex1.csv')
frame
frame.to_pickle('examples/frame_pickle')

In [ ]:
pd.read_pickle('examples/frame_pickle')

In [ ]:
!rm examples/frame_pickle

### Using HDF5 Format

In [ ]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

In [ ]:
store['obj1']

In [ ]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [ ]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

In [ ]:
os.remove('mydata.h5')

### Reading Microsoft Excel Files

In [ ]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [ ]:
pd.read_excel(xlsx, 'Sheet1')

In [ ]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

In [ ]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [ ]:
frame.to_excel('examples/ex2.xlsx')

In [ ]:
!rm examples/ex2.xlsx

## Interacting with Web APIs

In [34]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [35]:
data = resp.json()
data[0]['title']

'CLN: remove unneeded try/except in nanops'

In [42]:
data[0:5]

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52684',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52684/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52684/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52684/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/52684',
  'id': 1669292554,
  'node_id': 'PR_kwDOAA0YD85OYZ_s',
  'number': 52684,
  'title': 'CLN: remove unneeded try/except in nanops',
  'user': {'login': 'topper-123',
   'id': 26364415,
   'node_id': 'MDQ6VXNlcjI2MzY0NDE1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/26364415?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/topper-123',
   'html_url': 'https://github.com/topper-123',
   'followers_url': 'https://api.github.com/users/topper-123/followers',
   'following_url': 'https://api.github.com/users/topper-123/following{/other_user}',
   'gists_url': 'https://api.github.com/users/topper-123/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/topper-123/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/topper-123/subscriptions',
   'organizations_url': 'https://api.github.com/users/topper-123/orgs',
   'repos_url': 'https://api.github.com/users/topper-123/repos',
   'events_url': 'https://api.github.com/users/topper-123/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/topper-123/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-04-15T10:03:23Z',
  'updated_at': '2023-04-15T10:05:18Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/52684',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/52684',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/52684.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/52684.patch',
   'merged_at': None},
  'body': "Look like this try/except isn't needed, checking in CI if it verifies the result.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52684/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52684/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52683',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52683/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52683/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52683/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/52683',
  'id': 1669179907,
  'node_id': 'I_kwDOAA0YD85jfaoD',
  'number': 52683,
  'title': 'BUG: `MultiIndex.sortlevel` not working after dynamic index construction',
  'user': {'login': 'attack68',
   'id': 24256554,
   'node_id': 'MDQ6VXNlcjI0MjU2NTU0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/24256554?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/attack68',
   'html_url': 'https://github.com/attack68',
   'followers_url': 'https://api.github.com/users/attack68/followers',
   'following_url': 'https://api.github.com/users/attack68/following{/other_user}',
   'gists_url': 'https://api.github.com/users/attack68/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/attack68/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/attack68/subscriptions',
   'organizations_url': 'https://api.github.com/users/attack68/orgs',
   'repos_url': 'https://api.github.com/users/attack68/repos',
   'events_url': 'https://api.github.com/users/attack68/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/attack68/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 71268330,
    'node_id': 'MDU6TGFiZWw3MTI2ODMzMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex',
    'name': 'MultiIndex',
    'color': '207de5',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-04-15T06:10:00Z',
  'updated_at': '2023-04-15T06:20:30Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': '### Pandas version checks\r\n\r\n- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\r\n\r\n- [ ] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\r\n\r\n\r\n### Reproducible Example\r\n\r\n```python\r\n.\r\n```\r\n\r\n\r\n### Issue Description\r\n\r\nWhen constructing this MultiIndex directly the sort works.\r\n```python\r\n>>> midx = MultiIndex.from_tuples([("usd", "usd"), ("eur", "eur")], names=["a", "b"])\r\n>>> midx.sortlevel()\r\n(MultiIndex([(\'eur\', \'eur\'),\r\n             (\'usd\', \'usd\')],\r\n            names=[\'a\', \'b\']),\r\n array([1, 0]))\r\n```\r\n\r\nWhen constructing the index indirectly and dynamically through a loop it fails:\r\n```python\r\n>>> df = DataFrame(index=[0,1], columns=MultiIndex.from_tuples([], names=["a", "b"]))\r\n>>> df.loc[:, ("usd", "usd")] = [10, 20]\r\n>>> df.loc[:, ("eur", "eur")] = [15, 30]\r\n>>> df.columns.sortlevel()\r\n(MultiIndex([(\'usd\', \'usd\'),\r\n             (\'eur\', \'eur\')],\r\n            names=[\'a\', \'b\']),\r\n array([0, 1]))\r\n```\r\n\r\n\r\n\r\n\r\n### Expected Behavior\r\n\r\nI have exactly the same concerns as the OP in issue #49016, which has the same issue after `set_levels`.\r\n\r\nThis also occurs on pandas 2.0.0\r\n\r\nIncidentally, `df.columns.sort_values()` does sort the above in all cases, but this is also confusing since `sort_values` is not documented specifically as a `MultiIndex` method, but rather an `Index` method, whereas `sort_levels` is a `MultiIndex` method with confusing wording, and no `See Also` pointers to `sort_values`.\r\n\r\n### Installed Versions\r\n\r\n<details>\r\n\r\n1.5.3\r\n\r\n</details>\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52683/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52683/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52682',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52682/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52682/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52682/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/52682',
  'id': 1669120376,
  'node_id': 'PR_kwDOAA0YD85OX2i_',
  'number': 52682,
  'title': 'PERF: dtype checks',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-04-15T03:03:13Z',
  'updated_at': '2023-04-15T03:03:13Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/52682',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/52682',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/52682.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/52682.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52682/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52682/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52681',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52681/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52681/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52681/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/52681',
  'id': 1669096282,
  'node_id': 'PR_kwDOAA0YD85OXxwe',
  'number': 52681,
  'title': 'BUG: pd.NA showing up as NaN in Categorical repr',
  'user': {'login': 'lithomas1',
   'id': 47963215,
   'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lithomas1',
   'html_url': 'https://github.com/lithomas1',
   'followers_url': 'https://api.github.com/users/lithomas1/followers',
   'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
   'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
   'repos_url': 'https://api.github.com/users/lithomas1/repos',
   'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 13101118,
    'node_id': 'MDU6TGFiZWwxMzEwMTExOA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Output-Formatting',
    'name': 'Output-Formatting',
    'color': 'ededed',
    'default': False,
    'description': '__repr__ of pandas objects, to_string'},
   {'id': 78527356,
    'node_id': 'MDU6TGFiZWw3ODUyNzM1Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical',
    'name': 'Categorical',
    'color': 'e11d21',
    'default': False,
    'description': 'Categorical Data Type'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-04-15T01:30:40Z',
  'updated_at': '2023-04-15T13:51:17Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/52681',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/52681',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/52681.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/52681.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52681/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52681/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52680',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52680/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52680/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52680/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/52680',
  'id': 1669094215,
  'node_id': 'PR_kwDOAA0YD85OXxVi',
  'number': 52680,
  'title': 'DEPR: is_bool_dtype special-casing Index[object_all_bools]',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2023-04-15T01:23:26Z',
  'updated_at': '2023-04-15T01:24:04Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/52680',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/52680',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/52680.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/52680.patch',
   'merged_at': None},
  'body': "- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [x] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nI'm pretty sure this is a leftover kludge from before we supported bool dtype Indexes.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52680/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/52680/timeline',
  'performed_via_github_app': None,
  'state_reason': None}]

In [43]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,52684,CLN: remove unneeded try/except in nanops,[],open
1,52683,BUG: `MultiIndex.sortlevel` not working after ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,52682,PERF: dtype checks,[],open
3,52681,BUG: pd.NA showing up as NaN in Categorical repr,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,52680,DEPR: is_bool_dtype special-casing Index[objec...,[],open
5,52679,"BUG(?): ArrowExtensionArray.median is an ""appr...","[{'id': 3303158446, 'node_id': 'MDU6TGFiZWwzMz...",open
6,52678,BUG: ArrowExtensionArray(temporal).quantile ra...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,52677,BUG: tz_localize with ArrowDtype,"[{'id': 60458168, 'node_id': 'MDU6TGFiZWw2MDQ1...",open
8,52676,API: Index.__array_wrap__ stop special-casing ...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
9,52675,ENH: ValueError when to_sql() receives empty n...,"[{'id': 47232590, 'node_id': 'MDU6TGFiZWw0NzIz...",open
10,52673,Backport PR #52391 on branch 2.0.x (BUG: dt.da...,"[{'id': 49597148, 'node_id': 'MDU6TGFiZWw0OTU5...",open
11,52670,ENH: Add use_itertuples parameter to DataFrame...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
12,52669,BUG: pandas adds unexisting decimals,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,52668,BUG: dtype conversion fails on loc after pivot,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,52666,ENH: Avoid warnings causing code to crash,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
15,52665,pt2: deprecate casting in setitem-like,[],open
16,52662,BUG: `NDFrame._where` returns an unexpected dtype,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,52661,DEPS: drop np 1.20,"[{'id': 527603109, 'node_id': 'MDU6TGFiZWw1Mjc...",open
18,52659,REF: lazify relativedelta imports,[],open
19,52657,BUG: ArrowNotImplementedError when setting mul...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,52656,BUG: .loc sometimes does not swap columns in m...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,52655,BUG: Modify get_indexer_non_unique to account ...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
22,52654,BLD/DISC: Decreasing build/distribution size,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
23,52653,BUG: pd.Timestamp() defaults to [s] resolution...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
24,52652,BUG: Pandas 2.0.0 may raise InvalidIndexError ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,52651,DEPR: is_datetime64_any_dtype,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
26,52650,DOC: DateOffset docs missing details on `weekd...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
27,52647,DOC: Create docs for holiday related classes a...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
28,52642,"DEPR: is_period_dtype, is_sparse","[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
29,52639,Understanding string interning in pd.read_csv ...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open

## Interacting with Databases

In [60]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('1.sqlite')
con.execute(query)
con.commit()

In [61]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [62]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [63]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [ ]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

In [59]:
!rm 1.sqlite

## Conclusion